<!DOCTYPE html>
<html lang='fr'>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>EVALON</title>
	<link rel="stylesheet" type="text/css" href="/assets/styles/connect.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/styles.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/subscrib.css">
</head>

<body>
	<header class="menu">
		<nav class="">
			<a class="" href=""><i class=""></i></a>
			<!--<button class="" type="button">menu
				<span class=""></span>
			</button>!-->
			<div class="" id="">
				<ul class="hautpage">
					{% if session.user %}
					<li class="">
						<a class="" href="">Home <span class="">(current)</span></a>
					</li>
					<li class="">
						<a class="" href="">Boutique</a>
					</li>
					<li class="">
						<a class="" href="/profil">Profil</a>
					</li>
					{% else %}
					<li class="">
						<a class="" href="/user">Me connecter</a>
					</li>
					<li class="">
						<h1>EVALON</h1>
					</li>
					<li class="">
						<a class="" href="/subscrib">M'inscrire</a>
					</li>
					{% endif %}
				</ul>
				<p id="" class="">
					<a href=""><i class=""><span id=""></span></i></a>
				</p>
			</div>
		</nav>
	</header>

	{% block content %}
	{% endblock %}
	<footer id=""> 
		<nav class="">
			<div class="" id="">
				<ul class="piedpage">
					<li class="">
						<a class="" href="#">Mentions Légales/CGV</a>
					</li>
					<li class="">
						<a class="" href="">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</footer>
	<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://js.stripe.com/v3/"></script>
	{% block script %}{% endblock %}
	<script type="text/javascript" src="/assets/js/script.js"></script>!-->
</body>

</html>